header {
    display: flex;
    justify-content: space-between;
    background-color: var(--contrast-color);
    height: var(--header-height);
    padding: 0 10vw;

    .banner-container {
        --fold-size: 0.7rem;

        width: 15rem;
        transition: all 0.3s ease-in-out;
        .fold {
            width: 16.65rem;
            transition: inherit;
            height: var(--fold-size);
            background-color: var(--contrast-highlight-color);
            clip-path: polygon(10% 0%, 0% 100%, 90% 100%, 100% 0%);

            &:last-of-type {
                transform: translateY(calc(-1 * var(--fold-size)));
            }
        }
        .banner {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: var(--header-height);
            background-color: var(--highlight-color);
            z-index: 1;
            container: banner / size;

            a {
                text-decoration: none;
                font-family: var(--font-mono);
                color: var(--contrast-lowlight-color);
            }
        }
    }

    nav {
        display: inherit;
        align-items: center;

        ul {
            display: inherit;
            list-style: none;
            li {
                margin-left: 3vw;
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
}

@container banner (min-width: 0px) {
    header {
        .banner-container {
            .banner {
                a {
                    font-size: 10cqw;
                }
            }
        }
    }
}

@media (prefers-reduced-motion) {
    header {
        .banner-container {
            transition: none;
        }
    }
}

@media screen and (min-width: 1280px) {
    header {
        --header-height: 4rem;
    }
}

@media screen and (max-width: 1280px) {
    header {
        padding: 0 3rem;

        .banner-container {
            width: 14rem;

            .fold {
                width: 15.5rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        .banner-container {
            width: 13rem;

            .fold {
                width: 14.42rem;
            }
        }

        nav {
            transform: skewX(-5deg);
            padding: 0 0.3rem 0.1rem 0.3rem;
            background-color: var(--contrast-color);

            ul {
                li {
                    margin-left: 4vw;
                }
            }
        }
    }
}
