header {
    display: flex;
    background-color: var(--contrast-color);
    height: var(--header-height);
    padding: 0 10rem;
    position: sticky;
    top: 0;

    .banner-container {
        --fold-size: 0.6rem;

        width: 15rem;
        height: fit-content;
        .fold {
            width: 16.65rem;
            height: var(--fold-size);
            background-color: var(--contrast-highlight-color);
            clip-path: polygon(10% 0%, 0% 100%, 90% 100%, 100% 0%);
        }
        .banner {
            position: relative;
            width: inherit;
            height: 4rem;
            background-color: var(--highlight-color);
            z-index: 1;
        }
        :last-child {
            transform: translateY(calc(-1 * var(--fold-size)));
        }
    }

    nav {
        display: inherit;

        ul {
            display: inherit;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            li {
                margin-left: 3rem;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        justify-content: center;
        padding: 0;

        nav {
            display: none;
        }
    }
}
