header {
    display: flex;
    background-color: var(--contrast-color);
    height: var(--header-height);
    padding: 0 10rem;
    position: sticky;
    top: 0;

    .polygon {
        position: relative;
        width: 15rem;
        height: 6rem;
        background-color: var(--highlight-color);
        clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);
    }

    nav {
        display: inherit;

        ul {
            display: inherit;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            li {
                margin-left: 3rem;
            }
        }
    }
}
