li.color-switcher {
    input[type="checkbox"] {
        appearance: none;
        background-color: var(--text-color);
        padding: 0 0.5rem;
        border-radius: 2rem;
        cursor: pointer;
        font-size: 1.5rem;

        &::before,
        &::after {
            color: var(--background-color);
            transition: all var(--transition-duration);
        }

        &::before {
            content: "☾ ";
            opacity: 0.25;
        }

        &::after {
            content: "☀";
            opacity: 1;
        }

        &:checked {
            &::before {
                opacity: 1;
            }

            &::after {
                opacity: 0.25;
            }
        }
    }
}

@media screen and (min-width: 2000px) {
    li.color-switcher > input[type="checkbox"] {
        font-size: 2rem;
    }
}
