footer {
    --footer-height: 5rem;
    font-size: var(--small-text-size);
    min-height: var(--footer-height);
    background: radial-gradient(
        circle at left,
        var(--contrast-color) 60%,
        var(--background-color)
    );
    transition: all var(--transition-duration);
    padding: 1rem 15%;

    nav {
        margin-bottom: 1rem;

        ul {
            display: flex;
            list-style: none;
            li {
                &:not(:last-of-type)::after {
                    /* two unicode spaces on each side of a pipe */
                    content: "\00a0\00a0|\00a0\00a0";
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        min-height: calc(var(--footer-height) * 2);
        padding: 1rem 5%;
    }
}
