footer {
    height: 12rem;
    background: radial-gradient(
        circle at left,
        var(--contrast-color) 60%,
        var(--background-color)
    );
    clip-path: polygon(0% 25%, 0% 100%, 100% 100%, 100% 0%);
    padding-top: 3.25rem;
    transition: all var(--transition-duration);
}

@media screen and (max-width: 600px) {
    footer {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        padding-top: 0.25rem;
    }
}
