div.heading-component {
    --heading-button-size: 1.75rem;

    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: inline;
        font-weight: var(--heading-weight);
    }

    button,
    a {
        margin-left: 1rem;
        transition: transform var(--transition-duration);

        &:hover,
        &:focus-visible {
            transform: scale(1.25);
        }
    }

    button {
        svg {
            width: var(--heading-button-size);
            height: var(--heading-button-size);
            fill: var(--text-color);
        }
    }

    a {
        font-size: var(--heading-button-size);
        text-decoration: none;
    }
}

@media not (scripting: enabled) {
    div.heading-component {
        button {
            display: none;
        }
    }
}
