version: 2.1
orbs:
    onepassword: onepassword/secrets@1.0.0
    snyk: snyk/snyk@2.3.0
    docker: circleci/docker@3.0.1
jobs:
    security_scan:
        docker:
            - image: cimg/base:current
        resource_class: small
        steps:
            - checkout
            - onepassword/install-cli:
                  version: 2.18.0
            - onepassword/export:
                  var-name: SNYK_TOKEN
                  secret-reference: op://personal-site-gcp/snyk/auth_token
            - snyk/scan
            - persist_to_workspace:
                  root: ~/project
                  paths:
                      - .
    testing:
        docker:
            - image: mcr.microsoft.com/playwright:v1.56.1-noble
        resource_class: medium
        steps:
            - attach_workspace:
                  at: ~/project
            - run:
                  name: Install dependencies
                  command: npm ci
            - run:
                  name: Run lint and tests
                  command: npm test
            - persist_to_workspace:
                  root: ~/project
                  paths:
                      - .
    build_next_js:
        docker:
            - image: cimg/base:current
        resource_class: small
        steps:
            - attach_workspace:
                  at: ~/project
            - onepassword/install-cli:
                  version: 2.18.0
            - onepassword/export:
                  var-name: REGISTRY
                  secret-reference: op://personal-site-gcp/artifact-registry-creds/registry
            - onepassword/export:
                  var-name: IMAGE
                  secret-reference: op://personal-site-gcp/artifact-registry-creds/next-js-image
            - onepassword/export:
                  var-name: DOCKER_LOGIN
                  secret-reference: op://personal-site-gcp/artifact-registry-creds/username
            - onepassword/export:
                  var-name: DOCKER_PASSWORD
                  secret-reference: op://personal-site-gcp/pulumiCircleCiService/key
            - onepassword/export:
                  var-name: SNYK_TOKEN
                  secret-reference: op://personal-site-gcp/snyk/auth_token
            - run:
                  name: Add github.com to known hosts
                  command: ssh-keyscan github.com >> ~/.ssh/known_hosts
            - setup_remote_docker
            - docker/check:
                  registry: $REGISTRY
            - docker/build:
                  image: $REGISTRY/$IMAGE
            - snyk/scan:
                  fail-on-issues: false
                  monitor-on-build: true
                  docker-image-name: $REGISTRY/$IMAGE:$CIRCLE_SHA1
                  target-file: "Dockerfile"
            - docker/push:
                  registry: $REGISTRY
                  image: $IMAGE
            - run:
                  name: Persist latest build sha for preview
                  command: op item edit application_shas next-preview=$CIRCLE_SHA1
            - run:
                  name: Trigger infra build pipeline
                  command: |
                      curl --request POST \
                        --url "https://circleci.com/api/v2/project/gh/timmalstead/personal-site-gcp-infra/pipeline" \
                        --header "Circle-Token: $(op read op://personal-site-gcp/circle-ci-api-use/token)"
workflows:
    build:
        jobs:
            - security_scan:
                  context:
                      - personal_site
            - testing:
                  requires:
                      - security_scan
            - build_next_js:
                  filters:
                      branches:
                          only:
                              - main
                  requires:
                      - testing
                  context:
                      - personal_site
