:root {
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --text-color: #333;
    --background-color: #e6e6e6;
    --highlight-color: #fff642;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #efefe4;
        --background-color: #393533;
        --highlight-color: #42e3ff;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}
