:root {
    --standard-text-size: 1.1rem;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --header-height: 3rem;
    --non-blocking-no-duration: 0.01s;

    &.light {
        --text-color: #4d4d4d;
        --background-color: #e6e6e6;
        --contrast-color: #cacdce;
        --highlight-color: #fff642;
        --contrast-highlight-color: #f3d343;
        --contrast-lowlight-color: #d8a817;
    }

    &.dark {
        --text-color: #efefe4;
        --background-color: #1b1919;
        --contrast-color: #393533;
        --highlight-color: #42e3ff;
        --contrast-highlight-color: #2bb9e8;
        --contrast-lowlight-color: #196fbb;
    }

    &.reduce {
        --transition-duration: 0.01s;
    }

    &.no-preference {
        --transition-duration: 0.3s;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &:focus-visible {
        outline: 0.25rem solid var(--highlight-color);
    }
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--text-color);
    font-size: var(--standard-text-size);
    font-weight: 300;
    background-color: var(--background-color);
}

main {
    min-height: calc(100vh - var(--header-height));
    padding-top: 0.5rem;
    /* temp height */
    height: 3000px;
}

a {
    color: inherit;
    text-underline-offset: 0.2rem;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: dotted underline;
    }
}
button {
    all: unset;
    cursor: pointer;
}

@media screen and (min-width: 1800px) {
    body {
        font-size: min(1vw, 2rem);
    }
}

@media screen and (max-width: 600px) {
    main {
        padding-top: 1.5rem;
    }
}

@media (prefers-reduced-motion) {
    * {
        transition-duration: var(--non-blocking-no-duration) !important;

        &::before,
        &::after {
            transition-duration: var(--non-blocking-no-duration) !important;
        }
    }
}
