main.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-weight: var(--heading-weight);
        border-bottom: 0.075rem solid;
        text-align: center;
    }
}
