div.heading-component {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.15rem solid;
    margin-bottom: 2rem;
    border-image: linear-gradient(
            90deg,
            var(--contrast-color) 90%,
            var(--background-color) 95%
        )
        1;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: inline;
        font-weight: var(--heading-weight);
    }

    button {
        margin-left: 1rem;
        display: flex;

        svg {
            width: 1.75rem;
            height: 1.75rem;
            fill: var(--text-color);
            transition: transform var(--transition-duration);
        }

        &:hover,
        &:focus-visible {
            svg {
                transform: scale(1.25);
            }
        }
    }
}

@media not (scripting: enabled) {
    div.heading-component {
        button {
            display: none;
        }
    }
}
