main.kagi-tryout-styles {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 2.5rem 15% 1rem 15%;

    div:has(> div.recipe-widget) {
        align-self: center;
        width: fit-content;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    pre {
        align-self: center;
        width: 100%;
        overflow: scroll;
    }

    blockquote {
        pre {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 600px) {
    main.kagi-tryout-styles {
        padding: 1.5rem 5% 1rem 5%;
    }
}
