main.kagi-tryout-styles {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 1rem 5%;
    padding-top: 2.5rem;

    h3 {
        margin-bottom: 2rem;
    }

    div:has(> div.recipe-widget) {
        align-self: center;
        width: fit-content;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    pre {
        align-self: center;
        width: fit-content;
    }

    blockquote {
        pre {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 600px) {
    main.kagi-tryout-styles {
        padding-top: 1.5rem;

        pre {
            width: auto;
        }
    }
}
